################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeverBoredBot/NeverBoredBot/bin/Debug
/NeverBoredBot/.vs/NeverBoredBot/v14
/NeverBoredBot/NeverBoredBot/obj/Debug
